{
  "RabbitMqConfig": {
    "Uri": "amqp://guest:guest@localhost:5672"
  },
  "SmtpConfig": {
    "Host": "smtp.mailtrap.io",
    "Port": "2525",
    "User": "<REDACTED>",
    "Password": "<REDACTED>",
    "SkipTlsVerification": true
  }
}